.root {
    position: relative;
    min-height: 100px;
}

.root::before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    bottom: 0;
    border-left: 2px solid white;
}

.item {
    position: relative;
    width: calc(50% - 1rem);
    float: right;
}

.item::before {
    content: "";
    display: block;
    position: absolute;
    left: -24px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(156, 156, 156);
    border: 2px solid #242424;
}