.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--color-bg-trans);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 50rem;
}