.root {
    background-color: var(--color-bg-30);
    padding: 1.5rem;
    border-radius: var(--border-radius);
}

.root > * {
    transition: opacity 0.05s;
}

.root.skeleton > * {
   opacity: 0;
}

.footer {
    margin-top: 1.25rem;
}

.subheader {
    margin-top: -1rem;
    font-weight: 200;
    color: var(--color-mid);
}