
:root {
  --color-bg:  #0f0e15;
  --color-bg-trans: rgba(15, 14, 21, 56%);
  --color-bg-30: #1e1a2d;
  --color-bg-70: #584896;
  --color-bg-alt: #725AC1;
  --color-mid: #8D86C9;
  --color-light: #CAC4CE;
  --color-text: #ded8dd;

  --border-radius: 4px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--color-text);
  color-scheme: light dark;
  background-color: var(--color-bg);
}

a {
  font-weight: 500;
  color: var(--color-light);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-mid);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

p, .para {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sub {
  font-weight: 200;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: inherit;
  background-color: var(--color-mid);
  cursor: pointer;
  transition: all 0.66s;
  color: var(--color-bg);
}
button:hover {
  color: var(--color-mid);
  background-color: transparent;
  border-color: var(--color-mid);
  transition: all 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-mid);
}

/* TODO */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
